@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Selector Universal */
* {
    margin: 0;
    padding: 0;
}

* {
    color: red;
}

/* Ésto anula y sustituye al anterior */

h1,h2,h3,h4,h5,h6 {
    color: black;
    font-family:'Libre Baskerville', serif;
}

/*===================*/
/* Formato de textos */
/*===================*/

/* Fon-family importada de Google Fonts */
p, em, strong, li, a {
    font-family:'Montserrat', sans-serif;   
    color: dimgrey;
    font-size: 16px;
}

/* Font-weight establece la anchura de la letra */
a {font-weight: bold; 
    color: steelblue;   
}

/* Establece el estilo de letra; por defecto ya viene en italic, redundante*/
em {
    font-style: italic;
}

/* Font-variant */
.todomayusculas {
  font-variant: small-caps
}

.pepe {
    color: green;
}

.alineadoderecha {
    text-align: right;
}

.alineadocentro {
    text-align: center;
}

.alineadojustificado {
    text-align: justify; 
}

/*===================*/
/*Prioridades*/
/*===================*/

/*El selector de id es la almohadilla, y es el que más manda*/
/*
#violeta {color: violet;}
article ol li {color: blue}
*/

#violeta {color: darkviolet}
.rosa {color: pink;}
li.rosa {color: pink;}
article ol li.rosa {color:pink;}
body main section article ol li.rosa {color:pink;}
article ol li {color:blue}
li {color: tomato;}

/*Colores para una tabla .azul*/
/* bordes de tabla en azul y fondo en azul; fondo  de cabecera en azul y letra en blanco*/
table.azul th 
table.azul td {
    border: 1px solid blue;
    color: blue;
}
table.azul thead th {
    background-color: blue;
    color: white;
}


header h1 {
    /* La propiedad height establece el alto */
    height: 50px;

    /* La propiedad padding es el relleno */
    padding: 8px;

    /* La propiedad background-color es el color de fondo */
    background-color: gray;
}

nav {

    /* Ésto es un borde de un px, liso en color rojo */
    border: 1px solid red;
}

/* Ésto establece visibilidad en pantalla en ninguna */
nav h2 {
    display: none;
}

article {

    /* Ésto establece el ancho de todos los article */
    width: 40%;

    /* Ésto establece el relleno de todos los article */
    padding: 10px;

    /* Ésto establece el margen de todos los article */
    margin: 3%;
    /* Equivale a: */
    /* margin: 3% 3% 3% 3% */
    /* margin: 3% 3% */
    /* margin-top: 3%; */
    /* margin-right: 3%; */
    /* margin-bottom: 3%; */
    /* margin-left: 3%; */

    /* Ésto establece el borde de todos los article */
    border: 1x solid black;
}

/* Ésto establece el ancho al 100% para todos los article */
/* herederos de otro article heredero de una section */
section article article {
    width: 100%;   
}

/* Esta declaración anula y sustituye a las anteriores */
section, article {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /* Ésto es lo mismo */
    margin: 3% 0;
}

article article p {
    background-color: lime;
}

article, article p, article h2 {

    /* Ésto establece el color de fondo en blanco para:*/
    /* Todos los article*/
    /* Todos los párrafos herederos de un article */
    /* Todos los h2 herederos de un article */
    background-color: white;
}

footer {

    /* Éto estable<e el alto del footer en 80 px */
    height: 80px;

    /* Ésto establece el alto de la linea de texto */
    /* Como le ponemos el mismo que el height */
    /* Centramos una línea de texto verticalmente */  
    line-height: 80px;

    /* Ésto establece el relleno del footer en 10 px */
    padding: 10px;

    /* Ésto establece que el texto del footer se alineé en el centro */
    text-align: center;

    /* Ésto establece el fondo del footer en negro */
    background-color: black;

    /* Ésto establece el color de texto del footer */
    color: white;
}
